@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Recursive", sans-serif;
  overflow: hidden;
}

.btn {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.icon-menu:hover{
  color: #487eb0;
}
/* footer */
.footer {
  margin-top: 1%;
  display: flex;
}
.content-footer {
  background-color: #424242;
  height: 774px;
  width: 100%;
  padding: 40px 70px;
}
.footer__title h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  color: #fff;
  margin-top: 60px;
}
.footer__title h6 {
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  color: #fff;
}
.footer__links {
  display: flex;
  margin-top: 85px;
  margin-bottom: 85px;
  height: 168px;
  width: 340px;
  justify-content: space-between;
}
.footer__links ul {
  display: grid;
}
.footer__links ul li a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #fff;
  opacity: 0.5;
}
.footer__icons img:not(last-child) {
  margin-right: 30px;
}
.footer__icons p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  opacity: 0.5;
  margin-top: 50px;
}