.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &,
  .container {
    position: relative;
    z-index: 2;
  }
  &,
  .container>.row {
    height: calc(100vh - 196px);
    min-height: 577px;
    @include media-breakpoint-down(md) {
      height: calc(70vh - 196px);
      min-height: 400px;
    }
  }
  &.overlay {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($black, .3);
      z-index: 1;
    }
  }
  &.inner-page {
    &,
    .container>.row {
      height: auto;
      min-height: auto;
      padding: 2em 0;
    }
  } 
  &.img-bg-section {
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 3rem;
    color: $white;
    line-height: 1;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 18px;
    color: $white; // max-width: 400px;
  }
}

// .open_head__menu {
//   width: 100px;
//   height: 50px;
//   box-shadow: 0px 0px 30px #000;
//   background-color: rgba(255, 255, 255, 0.574);
//   position: fixed;
//   left: 45%;
//   top: 20px;
//   z-index: 1;
//   padding-left: 25px;
//   padding-top: 5px;
//   animation: anim_head 900ms linear infinite alternate-reverse;
//   cursor: pointer;

//   @keyframes anim_head {
//     from{transform: translateY(10px);}
//     to{transform: translateY(0);}
//   }

//   .open_head {
//       font-size: 40px;
//   }
// }

.head_db {
  display: block;
}

.header_box {
  position: relative;
  display: none;
}
@keyframes animbox {
    from{
      transform: translateX(-600px);
    }to{
      transform: translateX(0px);
    }
}

.close_info {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 900;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  left: 90%;
  bottom: 87%;
  cursor: pointer;
  transition: 500ms;
  &:hover {
  color: red;
  }
}

.info {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: anim_info 800ms linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  color: white;
  position: absolute;
  top: 65%;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  img{
    width: 40px;
    height: 40px;
    &:nth-child(1){
      position: absolute;
    }
    &:nth-child(2){
      position: absolute;
      left: 15px;
    }
    &:nth-child(3){
      position: absolute;
      left: 30px;
    }
  }
}

.site-section {
  padding: 7rem 0;
  @include media-breakpoint-down(md) {
    padding: 3rem 0;
  }
}

.carousell {
  position: relative;
  height: 700px;
}

.block-heading-1 {
  span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    @extend .font-gray-5;
    font-weight: bold;
  }
  h2 {
    font-size: 3rem;
    color: $primary;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
}

.block-feature-1-wrap {
  margin-bottom: 7rem;
  >.container {
    >.row {
      margin-left: -18px;
      margin-right: -18px;
      >.col,
      >[class*="col-"] {
        padding-right: 36px;
        padding-left: 36px;
      }
    }
  }
}

.block-feature-1 {
  background: lighten(#ccc, 15%);
  padding: 30px 30px 30px 50px;
  position: relative;
  h2 {
    font-size: 18px;
  }
  .icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    top: 50%;
    border: 4px solid $white;
    transform: translateY(-50%);
    text-align: center;
    >span {
      font-size: 40px;
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.block-img-video-1-wrap {
  .block-img-video-1 {
    position: relative;
    margin-top: -10rem;
    @include media-breakpoint-down(md) {
      margin-top: -6rem;
    }
  }
}

.block-img-video-1 {
  >a {
    display: block;
    position: relative;
    cursor: pointer;
    .icon {
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $white;
      transition: .3s all ease-in-out;
      >span {
        position: absolute;
        top: 50%;
        font-size: .8rem;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $black;
      }
    }
    &:hover {
      .icon {
        background: $white;
        width: 90px;
        height: 90px;
      }
    }
  }
}

.block-counter-1 {
  text-align: center;
  .number,
  .caption {
    display: block;
    line-height: 1;
  }
  .number {
    color: $primary;
    font-size: 4rem;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    // $font-family: $font-family-sans-serif2;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
    &:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: rgba($dark, .3);
    }
  }
  .caption {
    font-size: 14px; // color: $white;
    letter-spacing: .05em;
  }
}

.block-team-member-1 {
  padding: 30px;
  border: 1px solid $gray-200;
  background: $white;
  position: relative;
  top: 0;
  transition: .15s all ease-in-out;
  figure {
    img {
      max-width: 130px !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.block-social-1 {
  >a {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.block-testimony-1 {
  padding: 20px;
  position: relative;
  blockquote {
    background: $white;
    padding: 30px;
    font-style: italic;
    font-size: 18px;
    color: $black;
    font-family: 'Georgia', Times, serif;
    position: relative;
  }
  figure {
    position: relative;
    padding-top: 20px;
    &:before {
      position: absolute;
      content: "";
      width: 50px;
      left: 50%;
      display: none;
      top: 0;
      transform: translateX(-50%);
      background: $primary;
      height: 2px;
    }
    img {
      max-width: 60px;
    }
  }
  h3 {
    font-size: 18px;
  }
}

.block-13 {
  .owl-nav {
    display: none;
  }
  .owl-dots {
    text-align: center;
    position: relative;
    bottom: -30px;
    .owl-dot {
      display: inline-block;
      span {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 4px;
        background: lighten($black, 80%);
        transition: .3s all cubic-bezier(.32, .71, .53, .53);
        margin: 3px;
      }
      &.active {
        span {
          // width: 20px;
          background: $primary;
        }
      }
    }
  }
}

.post-entry {
  background: $white;
  padding: 30px;
  border: 1px solid lighten($black, 90%);
  border-radius: 4px;
  transition: .3s all ease;
  &:hover {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
  }
  h2 {
    font-size: 20px;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.by {
  color: $black;
  border-bottom: 1px dotted #ccc;
  &:hover {
    border-bottom: 1px dotted $primary;
  }
}

.form-control {
  border: none;
  border: 1px solid lighten($black, 90%); // box-shadow: 0 4px 5px -3px rgba(0,0,0,.2)!important;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid lighten($black, 40%); // box-shadow: 0 4px 5px -3px rgba(0,0,0,.2)!important;
  }
}

// sidebar
.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: $white;
  *:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.categories,
.sidelink {
  li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted gray('300');
    list-style: none;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
    a {
      display: block;
      span {
        position: absolute;
        right: 0;
        top: 0;
        color: #ccc;
      }
    }
    &.active {
      a {
        color: $black;
        font-style: italic;
      }
    }
  }
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
    .vcard {
      width: 80px;
      float: left;
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
    .comment-body {
      float: right;
      width: calc(100% - 80px);
      h3 {
        font-size: 20px;
        color: $black;
      }
      .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc;
      }
      .reply {
        padding: 5px 10px;
        background: lighten($black, 90%);
        color: $black;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
          color: $black;
          background: lighten($black, 89%);
        }
      }
    }
  }
}

.search-form {
  background: lighten($black, 97%);
  padding: 10px;
  .form-group {
    position: relative;
    input {
      padding-right: 50px;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  a {
    color: $white;
    border-bottom: 1px solid rgba($white, .5);
  }
}

.slide {
  height: 100vh;
  min-height: 900px;
  background-size: cover;
}

.btn-md {
  padding: 8px 20px;
}

.border-w-2 {
  border-width: 2px !important;
}

.block__73694 {
  .block__73422 {
    background-size: cover;
    background-position: center center; // background-attachment: fixed;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      height: 400px;
    }
  }
}

.slide-one-item {
  .owl-nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      color: rgba($white, .4);
      &:hover {
        color: $white;
      }
    }
    .owl-prev {
      left: 20px;
    }
    .owl-next {
      right: 20px;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
    .owl-dot {
      display: inline-block;
      >span {
        transition: .3s all cubic-bezier(.32, .71, .53, .53);
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 4px;
        background: rgba($white, .4);
        margin: 3px;
      }
      &.active {
        >span {
          width: 20px;
          background: $white;
        }
      }
    }
  }
}




.footer-suscribe-form {
  .form-control {
    color: $black;
    &:hover,
    &:active,
    &:focus {
      color: $black !important;
    }
  }
  .btn {
    color: $white;
  }
}

// 03-Block
.ftco-blocks-cover-1 {
  .ftco-service-image-1 {
    margin-top: -70px;
    position: static;
  }
}

.ftco-cover-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &, & .container>.row {
    height: 100vh;
    min-height: 900px;
  }

  &.innerpage {
    &, & .container>.row {
      height: 90vh;
      min-height: 700px;
    }
  }

  >.container {
    position: relative;
  }
  &.overlay {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5; // background: rgba(0,196,255,1);
      background: $black;
    }
    h1 {
      color: $white;
      font-size: 3rem;
    }
    p {
      color: $white;
      a {
		  	color: $white;
		  	text-decoration: underline;
		  	font-weight: 700;
		  	&:hover {
		  		text-decoration: none;
		  	}
		  }
    }
    form {
      .form-control,
      .btn {
        height: 55px;
        border-radius: 4px;
      }
      .form-control {
        padding-left: 20px;
        padding-right: 20px;
        border-color: transparent;
        margin-right: 10px;
      }
      .btn {
        border-color: transparent;
      }
    }
  }
}
// language
.change-lang{
  width: 50px;
  height: 20px;
  background: scroll;
  background-color: rgb(53, 53, 53);
  color: #f6f5f5;
  option{
    background: #293c47;
  }
  &:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.596);
  }
}

// owl
.owl-all {
  .owl-dots {
    text-align: center;
    margin-top: 30px;
    .owl-dot {
      display: inline-block;
      >span {
        display: inline-block;
        width: 7px;
        height: 7px;
        color: #ccc;
        margin: 5px;
        border-radius: 50%;
      }
      &.active {
        >span {
          background: $primary;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .owl-nav,
    .owl-dots {
      display: none;
    }
    .owl-stage {
      transform: none !important;
      width: 120% !important;
      padding-top: 10px;
    }
    .owl-carousel .owl-stage-outer {
      width: 100%;
      overflow: visible;
    }
    .owl-stage-outer>.owl-stage>.owl-item {
      display: inline-grid;
      float: none;
      margin-bottom: 30px;
    }
  }
}

.blog-entry {
  .blog-thumbnail {
    flex: 0 0 150px;
    margin-right: 20px;
    img {
      border-radius: 4px;
    }
  }
  .blog-excerpt {
    a {
      color: $black;
      &:hover {
        color: $primary;
      }
    }
  }
}

.bg-light {
  background-color: #f6f5f5 !important;
}


/* cruise */

.feature-1 {
  background: #ccc;
  position: relative;
  display: block;
  z-index: 1;
  margin-bottom: 30px;
  .feature-1-contents {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background: $white;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
    h2 {
      font-size: 1.2rem;
    }
  }
  &:hover, &:focus {
    .feature-1-contents {
      visibility: visible;
      opacity: .95;
    }
  }
}
.more {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .1rem;
  border-bottom: 2px solid $primary;
}

.section-2 {
  background: #1c2d37;
  .section-2-title {
    color: $white;
    h2 {
      color: $white;
    }
  }
}

.feature-2 {
  color: $white;
  h3 {
    color: $white;
  }
  .caption {
    font-weight: bold;
    color: $primary;
    display: block;
    margin-bottom: 10px;
  }
}

.fixed-content {
  position: sticky;
  top: .2rem;
}

.feature-3 {
  position: relative;
  margin-bottom: 40px;
  &:before {
    position: absolute;
    left: -3rem;
    line-height: 0;
    top: 1rem;
    font-size: 2rem;
    color: $green;
    font-family: "icomoon";
    content: "\e86c";
  }
  h3 {
    font-size: 1.3rem;
  }
}

.testimonial-1 {
  .quote-icon-wrap {
    font-size: 2rem;
    color: $primary;
  }
  p {
    font-size: 1.5rem;
  }
}

.section-4 {
  border-top: 1px solid #efefef;
}

.post-entry-1 {
  .meta {
    color: #ccc;
  }
  .post-entry-1-contents {
    background: $white;
    padding: 20px;
    h2 {
      font-size: 22px;
      margin-bottom: 20px;
      a {
        color: $black;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  &.person-1 {
    text-align: center;
    img {
      width: 90px;
      border-radius: 50%;
      margin: 0 auto -45px auto;
    }
    .post-entry-1-contents {
      padding-top: 4rem;
    }

  }

}

.careers-1 {
  padding: 20px;
  background: $white;
  margin-bottom: 30px;
}

.open_info {
  display: block;
  animation: animbox 900ms linear;
  
}


/* carrent */
// .info{
//   width: 50px;
//   position: absolute;
//   color: white;
//   font-size: 44px;
//   z-index: 9;
//   top: 55%;
//   left: 2%;
//   display: inline-block;
//   animation-name: info;
//   animation-duration: 1s;
//   animation-iteration-count: infinite;
//   animation-fill-mode: forwards;
//   cursor: pointer;
// }
.feature-car-rent-box-1 {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    width: 100%;
    background: $primary;
  }
  padding: 30px;
  background: $white;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 20px 0;
      list-style: none;
      border-bottom: 1px solid #efefef;
      
      margin: 0;
      position: relative;
      .spec {
        position: absolute;
        right: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.trip-form {
  padding: 40px 30px;
  background: $white;
  position: relative;
  margin-top: -90px;
  box-shadow: 0 0 10px 0px rgba($black, .1);
  background: #ffffffce;
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: $black;
  }
}


.item-1 {
  .item-1-contents {
    padding: 20px;
    h3 {
      font-size: 18px;
    }
    .rent-price {
      > span {
        font-size: 1.7rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #efefef;
        display: block;
        position: relative;
        .spec {
          position: absolute;
          right: 0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .action {
      margin-top: 20px;
    }
  }
}

.how-it-works {
  
  .step {
    width: 20%;
    display: inline-block;
    text-align: center;
    position: relative;
    &:after {
      
      
      width: 100%;
      height: 4px;
      content: "";
      position: absolute;
      z-index: -1;
      top: 25px;
      background: $primary;
      
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    .number {
      z-index: 1;
      width: 50px;
      height: 50px;
      border: 4px solid $primary;
      background: $white;
      border-radius: 50%;
      color: $primary;
      display: block;
      position: relative;
      margin: 0 auto 10px auto;
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;
        color: $primary;
      }
    }
    .caption {
      display: block;
    }
  }
}

.service-1 {
  text-align: center;
  .service-1-icon{
    z-index: 9999;
    color: black;
  }
  .service-1-icon {
    background: $white;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    border: 4px solid $primary;
    border-radius: 50%;
    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
    }
  }
  .service-1-contents {
    h3, p {
      width: 180px;
      position: relative;
      right: 45px;
      color: $white;
    }
    h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  &.dark {
    .service-1-contents {
      h3, p {
        color: $black;
      }
      h3 {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}

.section-3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  > .container {
    z-index: 2;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba($black, .5);
  }
}

.testimonial-2 {
  background: $white;
  padding: 30px;
  blockquote {
    font-size: 1.3rem;
  }
  .v-card {
    .img-fu{
      width: 50px;
      border-radius: 50%;
      overflow: hidden
    }
    img {
      width: 45px;
      flex: 0 0 50px;
      border-radius: 50%;
      &:hover{
        position: absolute;
        -moz-transform: rotate(26deg) skew(17deg, -15deg);
        -webkit-transform: rotate(26deg) skew(17deg, -15deg);
        -o-transform: rotate(26deg) skew(17deg, -15deg);
        -ms-transform: rotate(26deg) skew(17deg, -15deg);
        transform: rotate(26deg) skew(17deg, -15deg);
      }
    }
  } 
}

@keyframes anim_info {
  0% {
    transform: translateX(-60%);
  }50% {
    transform: translateX(0%);
  }100% {
    transform: translateX(60%);
  }
}
// bg-color

// Carousel

$menu-width: 350px;
$scene-width: 1000px;
$scene-height: 400px;

$sections: strawberry, banana, apple, orange;

$colors: (
  strawberry: rgb(0, 0, 0),
  banana: #742323,
  apple: #4178a5,
  orange: grey,
  white: #fff,
  gray: #eee
);

$pictograms: (
  strawberry: url("../images/mercedes-logo.png"),
  banana: url("../images/tesla_logo_PNG16.png"),
  apple: url("../images/bmw_logo.png"),
  orange: url("../images/mazda_logo.png")
);

@function get-color($color-name) {
  @if map-has-key($colors, $color-name) {
    @return map-get($colors, $color-name);
  } @else {
    @warn "This color key doesn't exist.";
  }
}

@function get-picto-url($picto-name) {
  @if map-has-key($pictograms, $picto-name) {
    @return map-get($pictograms, $picto-name);
  } @else {
    @warn "This pictogram key doesn't exist.";
  }
}

@keyframes slidein {
  0% {
    top: -$scene-height;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -$scene-height;
    opacity: 0;
  }
}

.car-pict{
  width: 350px;
  &:nth-child(1){
    height: 240px;
  }&:nth-child(2){
    height: 180px;
  }&:nth-child(3){
    height: 200px;
  }&:nth-child(4){
    height: 100px;
  }
}

body {
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #scene {
    display: flex;
    align-items: center;
    justify-content: left;

    width: $scene-width;
    height: $scene-height;
    position: absolute;
    margin: auto;
    background-color: get-color(white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;

    #left-zone {
      background: get-color(white);
      height: 80%;
      flex-grow: 0;
      display: flex;
      width: $menu-width;
      align-items: center;
      justify-content: left;

      .list {
        display: flex;
        list-style: none;

        align-content: stretch;
        flex-direction: column;
        flex-grow: 3;

        margin: 0;
        padding: 0;

        li.item {
          input[type="radio"] {
            display: none;

            & ~ label {
              display: block;
              opacity: 0.5;
              height: 50px;
              text-align: center;
              line-height: 50px;

              &:first-letter {
                text-transform: uppercase;
              }

              &:hover {
                opacity: 0.75;
                cursor: pointer;
              }

              @each $item in $sections {
                &.label_#{$item} {
                  &:before {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    margin-left: 15px;
                    // background-image: get-picto-url($item);
                    background-position: center;
                    background-size: 75% 75%;
                    background-repeat: no-repeat;
                  }
                }
              }
            }

            & ~ .content {
              position: absolute;
              left: $menu-width;
              top: -$scene-height;
              width: $scene-width - $menu-width;
              height: $scene-height;

              animation-duration: 0.75s;
              animation-name: slideout;
              animation-timing-function: ease-out;

              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              @each $item in $sections {
                &.content_#{$item} {
                  .picto {
                    height: 100px;
                    width: 100px;
                    // background-image: get-picto-url($item);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                  }

                  h1 {
                    color: get-color($item);
                  }
                }
              }

              h1 {
                &:first-letter {
                  text-transform: uppercase;
                }
              }
              p {
                max-width: 50%;
                text-align: center;
              }
            }

            &:checked {
              & ~ label {
                opacity: 1;
                animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                @each $item in $sections {
                  &.label_#{$item} {
                    color: get-color($item);
                    border-right: solid 4px get-color($item);
                  }
                }
              }

              & ~ .content {
                animation-duration: 0.75s;
                animation-name: slidein;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(
                  0.455,
                  0.03,
                  0.515,
                  0.955
                );
              }
            }
          }
        }
      }
    }

    #middle-border {
      background-color: get-color(gray);
      height: 75%;
      flex-grow: 1;
      max-width: 2px;
      z-index: 0;
    }

    #right-zone {
      background: get-color(white);
      height: 100%;
      flex-grow: 3;
    }
  }
}
// // carousel header
// @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

// .carousel {
//   position: relative;
//   display: flex;

//   .slides {
//     position: relative;
//     top: -4em;
//     left: 10em;

//     img {
//       position: absolute;
//       width: 450px;
//       height: 450px;
//       opacity: 0;
//       z-index: 9999;

//       &.active {
//         opacity: 1;
//       }
//     }
//   }

//   // palette: https://flatuicolors.com
//   .overlays {
//     position: relative;
//     width: 36em;
//     height: 18em;

//     .bar {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background: var(--bar-color);
//       transform-origin: left;
//     }
//   }

//   .nav-links {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;
//     margin: 0;
//     padding: 0 0 0 6em;
//     list-style-type: none;

//     .nav-link {
//       font-size: 2rem;
//       font-family: Lora, serif;
//       line-height: 2;
//       text-decoration: none;
//       color: #7f8c8d;
//       transition: 0.3s;

//       &:hover {
//         color: #1c1e1f;
//       }

//       &.active {
//         color: black;
//         pointer-events: none;
//       }
//     }
//   }
// }



// Cards Carousel
// ----------------------------------------------

.icon-cards {
  position: relative;
  width: 380px;
  height: 250px;
  margin: 0 auto; 
  color: white;
  transform-origin: center;

	// This is the element that rotates with the animation

	&__content {
		position: absolute;
		width: 250px;
		height: 250px;
    transform-origin: center;
		transform-style: preserve-3d;
		transform: translateZ(-30vw) rotateY(0);
		animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
    
    &.step-animation {
      animation: carousel 8s infinite steps(1) forwards;
    }
	}

	// Individual cards

	&__item {
		position: absolute;
		top: 0;
		left: 0;
    right: 0;
    bottom: 0;
		width: 600px;
		height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 50px rgb(0, 0, 0);
		border-radius: 6px;
    transform-origin: center;
    @include media-breakpoint-down(md) {
      background: rgb(51, 127, 177);
      left: 9px;
      
  .service-1-contents p{
        left: 19px;
        display: inline-block;
        text-align: center;
      }
    }

		&:nth-child(1) {
			transform: rotateY(0) translateZ(35vw) translateX(20px);
		}

		&:nth-child(2) {
<<<<<<< HEAD
			transform: rotateY(120deg) translateZ(35vw) translateX(68px);
		}

		&:nth-child(3) {
			transform: rotateY(240deg) translateZ(35vw) translateX(90px);
=======
			transform: rotateY(120deg) translateZ(35vw) translateX(120px);
      left: 35px;
		}

		&:nth-child(3) {
			transform: rotateY(240deg) translateZ(35vw) translateX(130px);
      left: 45px;
>>>>>>> 01d134e56242faa6ed29a0f2beef163ca3d90a58
		}
	}
}

// Carousel animation

@keyframes carousel {
	0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
	27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
	55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
	82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}

// animation-fill-mode: backwards;
// animation: traffic 800ms linear;
// animation-direction: alternate-reverse;
// animation-iteration-count: infinite;
// 
.number1 {
  animation-fill-mode: backwards;
  animation: traffic 680ms linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.number2 {
  animation-fill-mode: backwards;
  animation: traffic 750ms linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.number3 {
  animation-fill-mode: backwards;
  animation: traffic 800ms linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.number4 {
  animation-fill-mode: backwards;
  animation: traffic 950ms linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.number5 {
  animation-fill-mode: backwards;
  animation: traffic 1050ms linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes traffic {
  100%{background: #318ead;}
 }
@keyframes traffic1 {
  100%{color: #f6f5f5;}
 }

*{margin:0;padding:0;}
a {color:inherit;text-decoration:none;}
#wrap{
  position:absolute;
  left:0; top:0;
  width:450px;
  height:350px;
  display:flex;
  // align-items:stretch; 
  // margin:0 25%;
}
.hb {
  position:relative;
  width:25%;
  z-index:1;
  display:flex;
  align-items:center;
  z-index:2;
  transform: scale(.97);
}
.c{
  position:relative;
  display:block;
  max-width:90%;
}
.c img {
  position:relative;
  display:block;
  width:100%;
  height:auto;
  z-index:2;
}
.txt {
  position:absolute;
  top:100%; left:10%;
  width:80%;
  opacity:0;
  padding:1em 0 0 1em;
  border-left:1px solid;
  z-index:1;
  transform:scaleY(1) translateY(-50px);
  transition:transform .2s, opacity .5s;
}
h1 {
  font-size:1.2em;
  font-weight:700;
  text-transform:uppercase;
}
.hb:hover .txt {
  opacity:1;
  transform:scaleY(1) translateY(0);
}
.fullBg {
  position:fixed;top:0;left:0;width:100%;height:100%;
  opacity:0;
  transition:transform .5s, opacity .5s;
  transform:scale(1);
  z-index:1;
}
.fullBg img {
  width:100%;height:100%;
  object-fit:cover;object-position:center;
  opacity:.5;
}
.hb:hover + .fullBg {opacity:1;transform:scale(1.02);}
.credits {
  position:fixed;
  bottom:0;right:0;
  padding:1.5em;
  font-size:.8em;
  text-align:right;
  font-style:italic;
  opacity:.8;
  transition:opacity .2;
  z-index:3;
}
.credits:hover {
  text-decoration:underline;
  opacity:1;
}


// zagruzka


:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}

.close-card{
  animation: .3s ease-in .1s  reverse both running slidein;
  animation-duration: 500ms;
}

@keyframes close_card{
  from{
    transform: translateX(0);
  }to{
    transform: translateX(-770px);
    position: fixed;
    left: -770px;
    display: none;
  }
}
@media (max-width:800px) {
  #left-zone{
    background: #000;
  }
}